body{
    text-align: center;
    background-image: url('masjid.jpg') ;
    background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center center; /* Centre l'image */
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    height:  auto;
}
.a1{
    text-decoration: none;
    color: #fff;
    text-shadow:gainsboro 3px 3px 3px ;
    border: 1px solid rgb(239, 172, 94);
    padding: 10px;
    border-radius: 10%;
}
.a1:hover{
    text-decoration: none;
    color: #ebb7b7;
    text-shadow:#ebb7b7 3px 3px 3px ;
    background-color: gray;
    padding: 10px;
    border-radius: 10%;
}
.d1{
    display: flex;
    gap: 10%;
    background-color: rgb(239, 172, 94);
    height: 40px;
    border : 1px solid ;
    border-radius: 2%;
    box-shadow: gainsboro 5px 5px 5px;
    padding: 1%;
    margin-bottom: 1%;
    justify-content: space-around;

}
#img1{
    width: auto;
    height: 40px;
    border: 1px solid black;
    border-radius: 10%;
    padding: 3%;
    margin-left: 4%;
}
.d2{
    display: flex;
    gap :5%;
    width: 70%;
    margin-left: 60%;
    margin-top: 5px;
}
.header{
    height: auto;
    text-align: center;
    box-shadow: red 5px 5px 5px ;
    border : 1px solid ;
    border-radius: 2%;
    background-color: gray;
    opacity: 0.5;
    width: 60%;
    margin-left: 20%;
    margin-top: 3px;
}
.header h1{
    color: #d9d8da;
    text-shadow: black 5px 5px 5px ;
}
.h3-1{
    text-align: center;
    color: rgb(42, 94, 94);
    text-decoration:underline;
    background-color:yellow ;
    padding: 10px;
    box-shadow: grey 5px 5px 5px ;
    border : 1px solid ;
    border-radius: 5%;
}
fieldset{
    width: 50%;
    margin-left: 25%;
    box-shadow: wheat 5px 5px 5px ;
    border : 1px solid ;
    border-radius: 2%;
}
#select{
    width: 100%;
    text-align: center;
    height: 25px;
    border : 1px solid yellow;
    border-radius: 4%;
    background-color: gray;
    opacity: 1;
    color: rgb(228, 13, 13);
}
#select option{
    color: white;
    width: 100%;
    text-align: center;
    height: 25px;
    border : 1px solid yellow;
    border-radius: 4%;
    background-color: gray;
    opacity: 0.5;
}
.content-salat{
    height: auto;
    text-align: center;
    box-shadow: wheat 5px 5px 5px ;
    border : 1px solid ;
    border-radius: 2%;
    background-color: rgb(180, 143, 20);
    opacity: 0.ç;
    width: 70%;
    margin-left: 15%;
    margin-top:5% ;
}
#prayerTimes p{
    color: yellow;
}
#prayerTimes p span{
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black; 
    margin-top: 2%;
}
footer p {
    color: gray;
    height: auto;
}
@media (max-width: 480px ) {

    .header {
      font-size: 10px;
      margin-bottom: 10%;

    }
    select {
      font-size: 14px;
      padding: 10px;
    }
    .content-salat p {
      font-size: 14px;
    }
    fieldset{
        width: 80%;
        margin: 5%;

    }
    .d1{
        display: ruby-base;
        height: 40px;
        border : 1px solid ;
        border-radius: 2%;
        box-shadow: gainsboro 5px 5px 5px;
        padding: 1%;
        margin-bottom: 1%;
        justify-content: center;
    }
    .d1{
        display: block;
        gap: 0%;
        background-color: rgb(239, 172, 94);
        height: 90px;
        border : 1px solid ;
        border-radius: 2%;
        box-shadow: gainsboro 5px 5px 5px;
        padding: 1%;
        margin-bottom: 1%;
    }
    #img1{
        width: auto;
        height: 40px;
        border: 1px solid black;
        border-radius: 10%;
        padding: 1%;
        margin-left: 0%;
    }
    .d2{
        display: flex;
        gap :35px;
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
        justify-content: space-between;
    }
    .d3{
        display: flex;
        justify-content: center;
    }

    
  }
@media (min-width: 480px ) and (max-width: 500px ) {
    .header {
      font-size: 10px;
      margin-bottom: 20%;
    }
    select {
      font-size: 14px;
      padding: 10px;
    }
    .content-salat p {
      font-size: 14px;
    }
    fieldset{
        width: 60%;

    }
    
  }



  @media (max-width: 600px) {
    body {
        background-size: auto 100%; /* Ajuste l'image pour couvrir toute la hauteur */
    }
}

/* Style pour les écrans moyens (tablettes) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    }
}